@font-face {
	font-family: "Boogaloo";
	src: url("Boogaloo.ttf");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
}

.content {
    width: 45%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	font-size: 3em;
	font-family: "Boogaloo", Arial, Helvetica, sans-serif;
	display: inline-block;
    font-weight: normal;
    margin: 1em;
}

h3 {
    margin-bottom: 1em;
}

p { /* This is for the turn counter. May want to make this a class later */
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
    margin-bottom: .25em;
}

form {
    height: 100%;
    width: 100%;
}

.aspect-ratio-maintainer{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.inner-ratio-maintainer{
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 0px;
}

table {
    border-spacing: 4px;
    font-size: 0px;
    max-height: 100%;
    max-width: 100%;
}

td img, td button {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 0px;
}

button {
    cursor: pointer;
}

td {
    border: 1px solid rgb(164, 164, 164);
    border-radius: 7.5%;
    overflow: hidden;
}

input[type="submit"] {
    padding: .5em;
    margin: 1em;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    background-color: (225, 225, 227);
    box-shadow: 0px 0px 6px 2px rgb(197, 197, 201) inset
}

input[type=submit]:hover {
    background-color: rgb(197, 197, 201);
    box-shadow: 0px 0px 6px 2px rgb(245, 245, 247) inset;
}