@font-face {
	font-family: "Boogaloo";
	src: url("Boogaloo.ttf");
}

body {
    text-align: center;
}

.content {
    width: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	font-size: 3em;
	font-family: "Boogaloo", Arial, Helvetica, sans-serif;
	display: inline-block;
	font-weight: normal;
}